/* Initially hide the project cards and headings */
.hide {
    opacity: 0;
    transform: translateY(200px); /* Initially translate the elements downward */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Transition opacity and transform */
}

/* Show the project cards and headings when they're visible */
.visible {
    opacity: 1;
    transform: translateY(0); /* Translate the elements to their original position */
}
